.load-more-bar {
  background: white;
  padding: 35px 20px;
}

.load-more-button {
  color: #e1173f;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  &:hover {
    color: lighten(#e1173f, 15%);
  }
}

@media screen and (max-width: $mobile-max) {
  .load-more-bar {
    padding: 15px 5px;
    text-align: center;
  }
}