.last-time-activity {
  color: $text-color;
  font: 700 italic 14px/1 $serif;
  margin-top: 6px;
  
  .number {
    font-family: $sans;
    font-style: normal;
    margin: 0 15px;
  }
}

.activity-button {
  bottom: -16px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
}

.answers-counter {
  font: 400 italic 14px/20px $serif;
  margin: 20px 0;
  text-align: center;

  .number {
    font: 700 normal 18px/20px $sans;
    margin-right: 12px;
  }
}