.page-body {
  background: #fbfbfb;
  position: relative;
  z-index: 0;
}

@media only screen and (min-width: $desktop-min) {
  .page-body {
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.1);
    margin: 0 40px 40px;
  }
}