input,
button {

  &:focus {
    outline: none;
  }
}

textarea {
  resize: vertical;
}

.input {
  margin-bottom: 20px;
}

.input-control {
  background: #fbfbfb;
  border: 1px solid #eeeeee;
  color: $text-color;
  display: block;
  font: 14px/15px $sans;
  height: 35px;
  min-height: 35px;
  padding: 8px 16px;
  width: 100%;

  .has-error & {
    border-color: #EE5775;
  }
}

textarea.input-control {
  height: 95px;
}